<app-header displayHomepageHeaderOptions='true'></app-header>

<!-- Begin Signup section -->
<section id="signup-section">
    <div class="signup-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-9 text-left">
                    <h1>Create a cookbook today!</h1>
                    <p>You can start writing and sharing recipes with an account</p>
                </div>
                <div class="col-md-3">

                </div>
            </div> <!-- /.row -->
            <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-6">
                    <div class="signup-form"> <!-- TODO - this feels like a perfect teaching tool for angular forms -->
                        <form role="form">
                            <div class="form-group">
                                <input type="text" class="form-control input-lg" placeholder="Username" [(ngModel)]='username' name='un' required>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control input-lg" placeholder="Password" [(ngModel)]='password' name="pw" required>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control input-lg" placeholder="Confirm Password" [(ngModel)]='confirmPassword' name="cnpw" required>
                            </div>
                            <button type="submit" class="btn signup-btn" (click)='onSubmitSignup()'>Create Account</button>
                        </form>
                    </div>	
                </div>
            </div> <!-- /.row -->
        </div> <!-- /.container -->
  </div>
</section>
<!-- End Signup -->

<!-- TODO - remove this button eventually 
<button (click)='onViewCookBooksClick()'>View CookBooks</button> -->
