/* possible to rename this to make color on homepage more universal? */
.about-facts-row {
    color: #4e7ac7
}

/* Begin sign-up section */
#signup-section {
	background: #f8f8f8;
	padding: 70px 0 80px;
}
#signup-section .signup-form .form-control:focus {
	background-color: #dbdbdb;
	box-shadow: none;
}

.signup-btn {
	float: right;
}
.signup-btn:hover {
	background-color: #dbdbdb;
}
/* End sign-up section */